@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  /* Fonts */
  --font-head: "Cinzel", "serif";
  --font-head-decor: "Cinzel Decorative", "serif";
  --font-pg: "Lora", "serif";


  /* Colors */
  --color-red-primary-600: oklch(0.5309 0.2096 29.6);
  --color-red-primary-700: oklch(0.474 0.1854 29.53);
  --color-black-primary: oklch(0.1969 0.0016 17.29);

  --color-red-text-500: oklch(0.6119 0.2342 29.52);
  --color-black-text-100: oklch(0.5024 0.0038 17.28);
  --color-black-text-500: oklch(0.2232 0.0016 17.27);
  --color-black-text-600: oklch(0.1969 0.0016 17.29);
  --color-white-text-100: oklch(0.8853 0 0);
  --color-white-text-400: oklch(0.9948 0.0011 17.18);


  --color-gray-text-300: oklch(0.5024 0.0038 17.28);
  --color-base-white: oklch(0.9948 0.0011 17.18);
  --color-gold-text: oklch(0.8238 0.1678 90.3);

  --color-border-gray-100: oklch(0.9116 0.0109 17.36);
  --color-border-gray-200: oklch(0.8662 0.0033 17.22);

  --color-hover-gray-100: oklch(0.9627 0.0021 17.19);

  --color-overlay-dark: oklch(0.1776 0 0 / 72%);
  --color-white-transparent: oklch(0.9948 0.0011 17.18 / 60%);

  --leading-p1: 1.619rem;
  --leading-h1: 4.375rem;

}

body,
p {
  font-family: var(--font-pg);
}

h1 {
  font-family: var(--font-head-decor);
}

h2,
h3,
h4,
h5 {
  font-family: var(--font-head);
}